<div id="<%= dom_id skill %>">
  <p>
    <strong>Character:</strong>
    <%= skill.character_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Ability:</strong>
    <%= skill.ability %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= skill.score %>
  </p>

  <p>
    <strong>Proficient:</strong>
    <%= skill.proficient %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= time_tag skill.updated_at, "data_local": "time-ago" %>
  </p>

</div>
