<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= character.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= character.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= character.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= character.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= character.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= character.charisma %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Proficiency bonus:</strong>
    <%= character.proficiency_bonus %>
  </p>

</div>
