<p style="color: green"><%= notice %></p>

<%= render @character %>

<h2>Skills</h2>
<% if @character.skills.any? %>
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Ability
      </th>
      <th>
        Score
      </th>
      <th>
        Proficient
      </th>
      <th>
        Action
      </th>
    </tr>
    <% @character.skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.ability.capitalize %></td>
        <td><%= skill.score %></td>
        <td><%= skill.proficient? ? "Yes" : "No" %></td>
        <td>
          <p>
            <%= link_to "Edit", edit_character_skill_path(@character, skill) %> |
            <%= link_to "Destroy", character_skill_path(@character, skill), method: :delete, data: { confirm: "Are you sure?" } %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>This character has no skills yet.</p>
<% end %>

<div>
  <%= link_to "Edit this character", edit_character_path(@character) %> |
  <%= link_to "Back to characters", characters_path %>
  <%= link_to "Add new skill", new_character_skill_path(@character) %>

  <%= button_to "Destroy this character", @character, method: :delete %>
</div>
